In [21]:
import faker

fake = faker.Faker()

print(fake.email())
print(fake.address())
print(fake.company())

victoria25@example.net
1446 Snyder Divide Suite 693
Taylormouth, AS 30512
Kelly LLC

In [22]:
# Generate a user
import json
users = []
for i in range(10):
    user = {"username": fake.unique.user_name(), "name": fake.name(), "email": fake.email(), "address": fake.address(), "age": fake.random_int(min=18, max=90)}
    users.append(user)

#Save in JSON
with open("user,json", "w") as file:
    json.dump(users,file, indent=4)

print(user)

{'username': 'rebecca56', 'name': 'Bradley Roberts', 'email': 'sandra40@example.org', 'address': '7614 Emily Rue Apt. 686\nEast Johnview, WA 10637', 'age': 62}

In [23]:
# Generate ad campaign
import random
from datetime import date, timedelta

#Start and end of the campaign
def get_start_end_dates():
    duration = random.randint(1, 2 * 365)
    offset = random.randint(-365, 365)
    start = date.today() - timedelta(days=offset)
    end = start + timedelta(days=duration)
    
    return start.strftime("%Y/%m/%d"), end.strftime("%Y/%m/%d")

print(get_start_end_dates())

#Generate target age
def get_age_range():
    age = random.randrange(20, 46, 5)
    diff = random.randrange(5, 26, 5)

    return f"{age}-{age + diff}"

print(get_age_range())


#Generate the currency
def get_currency():
    return random.choice(("GBP","USD","EUR"))


# Create campaign name
def get_campaign_name():
    name = get_start_end_dates()[0] + "_" + get_start_end_dates()[1]
    name += "_" + get_age_range()
    name += "_" + get_currency()
    return name

print(get_campaign_name())

('2026/10/12', '2028/08/05')
45-60
2026/08/13_2026/05/10_40-55_USD

In [24]:
#Generate the data for the campaign
def get_campaign_data():
    name = get_campaign_name()
    budget = random.randint(10**3, 10**6)
    spent = random.randint(10**2, budget)

    return { "cmp_name": name, "cmp_budget": budget, "cmp_spent": spent}

print(get_campaign_data())

def get_raw_data(users):
    raw_data = []
    for user in users:
        campaigns = []
        for i in range(random.randint(5, 10)):
            campaigns_data = get_campaign_data()
            dates = campaigns_data["cmp_name"].split("_")[2].split("-")
            min_age = int(dates[0])
            max_age = int(dates[1])
            if (user["age"] >= min_age and user["age"] <= max_age):
                campaigns.append(campaigns_data)
        
        campaigns = [get_campaign_data() for _ in range(random.randint(2,8))]
        raw_data.append({"user": user, "campaign": campaigns})
    return raw_data

raw_data = get_raw_data(users)
with open("raw_data.json", "w") as file:
    json.dump(raw_data, file, indent=4)

campaigns_data = []
for data in raw_data:
    for campaigns in data["campaign"]:
        campaigns["user"] = data["user"]
        campaigns_data.append(campaigns)

with open("campaigns_data.json", "w") as file:
    json.dump(campaigns_data, file, indent=4)

{'cmp_name': '2025/04/16_2028/05/23_40-55_EUR', 'cmp_budget': 819392, 'cmp_spent': 466998}

In [34]:
import pandas as pd

#DataFrame = Excel spreadsheet in Python
df = pd.read_json("campaigns_data.json")

print(type(df))

df.head(10)

<class 'pandas.core.frame.DataFrame'>

,cmp_name,cmp_budget,cmp_spent,user
0,2025/12/31_2028/01/08_40-45_GBP,669025,258647,"{'username': 'vjimenez', 'name': 'Andrea Pierc..."
1,2026/05/13_2028/08/18_35-40_GBP,754415,474754,"{'username': 'vjimenez', 'name': 'Andrea Pierc..."
2,2026/01/01_2025/07/03_35-40_EUR,996613,789315,"{'username': 'rowebrittany', 'name': 'Christin..."
3,2025/09/18_2026/07/22_40-55_EUR,37097,10015,"{'username': 'rowebrittany', 'name': 'Christin..."
4,2026/05/13_2026/08/28_35-45_GBP,388408,151041,"{'username': 'rowebrittany', 'name': 'Christin..."
5,2026/07/03_2025/11/13_45-50_GBP,712729,15366,"{'username': 'rowebrittany', 'name': 'Christin..."
6,2025/07/09_2026/08/21_25-35_EUR,417047,296986,"{'username': 'madeline94', 'name': 'Jesse Ocon..."
7,2025/10/10_2027/08/28_30-45_EUR,26943,303,"{'username': 'madeline94', 'name': 'Jesse Ocon..."
8,2026/01/17_2027/04/06_45-50_GBP,972533,65010,"{'username': 'jessica48', 'name': 'Carmen Pete..."
9,2026/09/03_2027/02/16_45-55_EUR,282553,119259,"{'username': 'jessica48', 'name': 'Carmen Pete..."

In [35]:
# Check the size of the DataFrame (rows, cols)
print(df.shape)

(43, 4)

In [36]:
# Column names
print(df.columns)

Index(['cmp_name', 'cmp_budget', 'cmp_spent', 'user'], dtype='object')

In [30]:
#Types of data
print(df.dtypes)

cmp_name      object
cmp_budget     int64
cmp_spent      int64
user          object
dtype: object

In [37]:
# Filter the data
print(df.query("cmp_budget < 100000 and cmp_spent > 5000"))

                           cmp_name  cmp_budget  cmp_spent  \
3   2025/09/18_2026/07/22_40-55_EUR       37097      10015
14  2025/10/11_2025/04/01_40-45_GBP       23588      11882
26  2024/12/25_2027/08/21_40-60_USD       89204      30655
31  2025/10/26_2027/08/28_20-45_EUR       44526      43935

                                                 user
3   {'username': 'rowebrittany', 'name': 'Christin...
14  {'username': 'jessica48', 'name': 'Carmen Pete...
26  {'username': 'matthewtate', 'name': 'Robert Jo...
31  {'username': 'matthewtate', 'name': 'Robert Jo...

In [40]:
# Get the camppaign with max spent
idx = df["cmp_spent"].idxmax()
df.loc[idx]

cmp_name                        2026/01/01_2025/07/03_35-40_EUR
cmp_budget                                               996613
cmp_spent                                                789315
user          {'username': 'rowebrittany', 'name': 'Christin...
Name: 2, dtype: object

In [42]:
df.sort_values(by=["cmp_spent"],ascending=False).head(1)

,cmp_name,cmp_budget,cmp_spent,user
2,2026/01/01_2025/07/03_35-40_EUR,996613,789315,"{'username': 'rowebrittany', 'name': 'Christin..."

In [50]:
# Add a new column
df["cmp_remaining_budget"] = df["cmp_budget"] - df["cmp_spent"]

# Get the start
start_date = df["cmp_name"].str.split("_").str[0]

df["cmp_start_date"] = pd.to_datetime(start_date)
# TODO
# df["cmp_days_running"] =

df.head(10)

#df.describe(10)

,cmp_name,cmp_budget,cmp_spent,user,cmp_remaining_budget,cmp_start_date
0,2025/12/31_2028/01/08_40-45_GBP,669025,258647,"{'username': 'vjimenez', 'name': 'Andrea Pierc...",410378,2025-12-31
1,2026/05/13_2028/08/18_35-40_GBP,754415,474754,"{'username': 'vjimenez', 'name': 'Andrea Pierc...",279661,2026-05-13
2,2026/01/01_2025/07/03_35-40_EUR,996613,789315,"{'username': 'rowebrittany', 'name': 'Christin...",207298,2026-01-01
3,2025/09/18_2026/07/22_40-55_EUR,37097,10015,"{'username': 'rowebrittany', 'name': 'Christin...",27082,2025-09-18
4,2026/05/13_2026/08/28_35-45_GBP,388408,151041,"{'username': 'rowebrittany', 'name': 'Christin...",237367,2026-05-13
5,2026/07/03_2025/11/13_45-50_GBP,712729,15366,"{'username': 'rowebrittany', 'name': 'Christin...",697363,2026-07-03
6,2025/07/09_2026/08/21_25-35_EUR,417047,296986,"{'username': 'madeline94', 'name': 'Jesse Ocon...",120061,2025-07-09
7,2025/10/10_2027/08/28_30-45_EUR,26943,303,"{'username': 'madeline94', 'name': 'Jesse Ocon...",26640,2025-10-10
8,2026/01/17_2027/04/06_45-50_GBP,972533,65010,"{'username': 'jessica48', 'name': 'Carmen Pete...",907523,2026-01-17
9,2026/09/03_2027/02/16_45-55_EUR,282553,119259,"{'username': 'jessica48', 'name': 'Carmen Pete...",163294,2026-09-03

In [46]:
df.to_csv("data.csv")

In [48]:
df.to_excel("data.xlsx")